.App {
  text-align: center;
}
.App h1 {
  font-size: 58px !important;
}
.App {
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 768px) {
  .App h1 {
    font-size: 48px !important;
  }
}
